USE [pai2017]
GO
/****** Object:  Table [dbo].[LOCALIZATION]    Script Date: 1/17/2018 7:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOCALIZATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY] [varchar](50) NOT NULL,
	[CITY] [varchar](50) NOT NULL,
	[STREET] [varchar](50) NOT NULL,
	[NUMBER] [int] NOT NULL,
	[POSTALCODE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LOCALIZATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 1/17/2018 7:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[ID] [int] NOT NULL,
	[PRODUCTID] [int] NOT NULL,
	[STOREID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[ISREALIZED] [bit] NOT NULL,
	[ORDERSTATUSID] [int] NOT NULL,
 CONSTRAINT [PK_ORDER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ORDERSTATUS]    Script Date: 1/17/2018 7:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDERSTATUS](
	[ID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](200) NOT NULL,
 CONSTRAINT [PK_ORDERSTATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 1/17/2018 7:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTTYPEID] [int] NOT NULL,
	[NAME] [varchar](200) NOT NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[COLOR] [varchar](200) NOT NULL,
	[QUANTITY] [int] NOT NULL,
 CONSTRAINT [PK__PRODUCT__3214EC27123B5D11] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCT_TYPE]    Script Date: 1/17/2018 7:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](200) NULL,
 CONSTRAINT [PK__PRODUCT___3214EC27D380C4C4] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STORE]    Script Date: 1/17/2018 7:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STORE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LOCALIZATIONID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[PHONENUMBER] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NULL,
	[WEBSITE] [varchar](50) NULL,
 CONSTRAINT [PK_STORE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT] ON 

INSERT [dbo].[PRODUCT] ([ID], [PRODUCTTYPEID], [NAME], [DESCRIPTION], [COLOR], [QUANTITY]) VALUES (3, 1, N'Samsung Galaxy S8', N'DESCR', N'Black', 20)
SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
SET IDENTITY_INSERT [dbo].[PRODUCT_TYPE] ON 

INSERT [dbo].[PRODUCT_TYPE] ([ID], [NAME], [DESCRIPTION]) VALUES (1, N'SMARTPHONES', NULL)
SET IDENTITY_INSERT [dbo].[PRODUCT_TYPE] OFF
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ORDERSTATUS] FOREIGN KEY([ORDERSTATUSID])
REFERENCES [dbo].[ORDERSTATUS] ([ID])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_ORDERSTATUS]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_PRODUCT] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_PRODUCT]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_STORE] FOREIGN KEY([STOREID])
REFERENCES [dbo].[STORE] ([ID])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_STORE]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK__PRODUCT__PRODUCT__173876EA] FOREIGN KEY([PRODUCTTYPEID])
REFERENCES [dbo].[PRODUCT_TYPE] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK__PRODUCT__PRODUCT__173876EA]
GO
ALTER TABLE [dbo].[STORE]  WITH CHECK ADD  CONSTRAINT [FK_STORE_LOCALIZATION] FOREIGN KEY([LOCALIZATIONID])
REFERENCES [dbo].[LOCALIZATION] ([ID])
GO
ALTER TABLE [dbo].[STORE] CHECK CONSTRAINT [FK_STORE_LOCALIZATION]
GO
